<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form garage</title>
</head>
<body>
<h1>Add garage</h1>
</br>
<form method="post" th:object="${garage}" action="#" th:action="@{/garages/create}">
    <input type="hidden" th:if="${garage.id}" th:field="*{id}">
    <label>Adress:</label>
    <input type="text" th:field="*{address}" required>
    <br>
    <label>Capacity:</label>
    <input type="number" th:field="*{capacity}" required>
    <br>
    <label>Accepts LPG:</label>
    <input type="checkbox" th:field="*{acceptsLpg}">
    <br>
    <button type="submit">Save</button>
</form>




</body>
</html>